@import "tailwindcss";

@font-face {
  font-family: "Kogaine Demo";
  src: url("https://db.onlinewebfonts.com/t/abc590850da9cb9f2579d927a5276e47.woff2")
    format("woff2");
}

@font-face {
  font-family: "Bricolage Grotesque";
  src: url(https://db.onlinewebfonts.com/c/102353a74d2e0700af3e11ef8a917b26?family=Bricolage+Grotesque)
    format("woff2");
}

@font-face {
  font-family: "Poppins";

  src: url("https://db.onlinewebfonts.com/t/8e85c24067e0c4f54318abf16531ece7.woff2")
    format("woff2");
}

@font-face {
  font-family: "Quicksand";

  src: url("https://db.onlinewebfonts.com/t/21bfa7d415073b05f611f3d15588ffd8.woff2")
    format("woff2");
}

@theme {
  --color-primary: #e0004d;
  --color-orange: #ff8c1c;
  --color-purple: #492b93;
  --color-secondary: #290b42;

  --font-primary: "Kogaine Demo", sans-serif;
  --font-secondary: "Bricolage Grotesque", sans-serif;
  --font-tertiary: "Poppins", sans-serif;
  --font-quaternary: "Quicksand", sans-serif;
}

.marquee-text {
  overflow: clip;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #e0004d;
}

.marquee-text-track {
  display: flex;
  width: max-content;
  animation: marquee-move-text var(--speed, 10s) linear infinite
    var(--direction, forwards);
}

@keyframes marquee-move-text {
  to {
    transform: translateX(-50%);
  }
}



.fadeout-horizontal {
  mask-image: linear-gradient(
    to right,
    black 5rem,
    black calc(100% - 10rem),
  );
}