@import "tailwindcss";

@font-face {
  font-family: "Kogaine Demo";
  src: url("https://db.onlinewebfonts.com/t/abc590850da9cb9f2579d927a5276e47.woff2")
    format("woff2");
}

@font-face {
  font-family: "Bricolage Grotesque";
  src: url("https://fonts.gstatic.com/s/bricolagegrotesque/v9/3y9K6as8bTXq_nANBjzKo3IeZx8z6up5BeSl9D4dj_x9PpZBMlGIInE.woff2")
    format("woff2");
}

@font-face {
  font-family: "Poppins";

  src: url("https://db.onlinewebfonts.com/t/8e85c24067e0c4f54318abf16531ece7.woff2")
    format("woff2");
}

@font-face {
  font-family: "Quicksand";

  src: url("https://db.onlinewebfonts.com/t/21bfa7d415073b05f611f3d15588ffd8.woff2")
    format("woff2");
}

@theme {
  --color-primary: #e0004d;
  --color-orange: #ff8c1c;
  --color-purple: #492b93;
  --color-purplebg: #502b70;
  --color-secondary: #290b42;
  --color-orangetitle: #FF8C1C;
  --font-primary: "Kogaine Demo", sans-serif;
  --font-secondary: "Bricolage Grotesque", sans-serif;
  --font-tertiary: "Poppins", sans-serif;
  --font-quaternary: "Quicksand", sans-serif;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@utility animate-marquee {
  animation: marquee 10s linear infinite;
}

@keyframes bounceGrow {
  0%   { transform: scale(1); }
  50%  { transform: scale(1.07); }
  100% { transform: scale(1); }
}